
h1{
    color:rgb(31, 136, 40);
}

img{
    margin-top: 50px;
    margin-right: 50px;
}
.para{
    color:rgb(68, 93, 9);
}
a{
    text-align: right;
}
a:link{
    color:blue;

}
a:visited{
    color:purple;
}
a:hover{
    color: red;
}